<div class="bg-gray-100 p-4 shadow-md mb-4">
  <div class="flex">
    <div class="flex w-full justify-start">
      <span class="text-xl">
        Edit Address
      </span>
    </div>
  </div>
  <div class="flex">
    <div class="w-full">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 ml-1" for="street">
        Street
      </label>
      <input
        {{ on 'input' this.onInput }}
        value={{this.address.street}}
        name="street"
        class="bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
        type="text"
        placeholder="1234 Main St"
      >
    </div>
  </div>
  <div class="flex mt-2 ">
    <div class="w-full mr-2">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 ml-1" for="city">
        City
      </label>
      <input
        {{ on 'input' this.onInput }}
        value={{this.address.city}}
        name="city"
        class="bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
        type="text"
        placeholder="Indianapolis"
      >
    </div>
    <div class="w-full ml-2">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 ml-1" for="state">
        State
      </label>
      <input
        {{ on 'input' this.onInput }}
        value={{this.address.state}}
        name="state"
        class="bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
        type="text"
        placeholder="IN"
      >
    </div>
  </div>
  <div class="flex mt-2">
    <div class="w-full mr-2">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 ml-1" for="zip">
        Zip Code
      </label>
      <input
        {{ on 'input' this.onInput }}
        value={{this.address.zip}}
        name="zip"
        class="bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
        type="number"
        placeholder="46221"
      >
    </div>
    <div class="w-full ml-2">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 ml-1" for="to">
        Addressed To
      </label>
      <input
        {{ on 'input' this.onInput }}
        value={{this.address.to}}
        name="to"
        class="bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
        type="text"
        placeholder="The Porter Family"
      >
    </div>
  </div>
</div>