<div class="flex">
  <div class="w-1/2 p-2">
    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 ml-1" for="street">
      Name
    </label>
    <input
      {{ on 'input' this.onInput }}
      value={{this.person.name}}
      name="name"
      class="bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
      type="text"
      placeholder="Alexander Hamilton"
    >
  </div>
  <div class="w-1/2 p-2">
    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 ml-1" for="street">
      Phone Number
    </label>
    <input
      {{ on 'input' this.onInput }}
      value={{this.person.phoneNumber}}
      name="phoneNumber"
      class="bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
      type="number"
      placeholder="317-867-5309"
    >
  </div>
  <div class="w-1/8 p-2 flex items-center">
    <button class="inline-flex items-center pt-6" onClick={{this.delete}}>
      <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M8 6V4c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V8H3a1 1 0 1 1 0-2h5zM6 8v12h12V8H6zm8-2V4h-4v2h4zm-4 4a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0v-6a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0v-6a1 1 0 0 1 1-1z"/></svg>
    </button>
  </div>
</div> 