<div class="bg-gray-100 p-4 shadow-md mb-2">
  <div class="flex">
    <div class="flex w-full justify-start">
      <span class="text-xl">
        People
      </span>
    </div>

    <div class="flex w-full justify-end">
      <button class="bg-sage text-white font-bold py-2 px-4 rounded inline-flex items-center" onClick={{this.addPerson}}>
        <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>
      </button>
    </div>
  </div>
  {{#if this.loaded}}
    {{#if this.people.length}}
      {{#each people as |person|}}
        <Admin::InvitePeople::Person @id={{person.id}} @reload={{this.getPeople}} />
      {{/each}}
    {{else}}
      No people found...
    {{/if}}
  {{else}}
    Loading...
  {{/if}}
</div>