<div class="bg-gray-100 p-4 shadow-md">
  <div class="flex">
    <div class="flex w-full justify-start">
      <span class="text-xl">
        Invites
      </span>
    </div>

    <div class="flex w-full justify-end">
      <button class="bg-sage text-white font-bold py-2 px-4 rounded inline-flex items-center">
        <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>
      </button>
    </div>
  </div>

  <Await @promise={{this.getInvites}} as |await|>
    <div class="flex w-full justify-center">
      <await.Pending>
        Loading...
      </await.Pending>
      <await.Fulfilled as |invites|>
        {{#if invites.length}}
          <table class="table-auto">
            <thead>
              <tr>
                <th class="px-4 py-2">People</th>
                <th class="px-4 py-2">Code</th>
                <th class="px-4 py-2">Accepted</th>
              </tr>
            </thead>
            <tbody>
              {{#each invites as |invite|}}
                <tr>
                  <td class="border px-4 py-2">{{{invite.people}}}</td>
                  <td class="border px-4 py-2">{{{invite.code}}}</td>
                  <td class="border px-4 py-2">{{{invite.rsvpAccepted}}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          No invites found...
        {{/if}}
      </await.Fulfilled>
    </div>
  </Await>
</div>